.d-none.d-xxl-block .container .row.g-0 .col-xxl-5.user-select-none.position-relative div img,
.col-xl-5 div img {
    max-width: 100%;
    padding: 70px;
}

.home-about-us-rotate-icon {
    transform-style: preserve-3d;
    transition: transform 0.8s;

    &:hover {
        transform: rotateY(360deg);
    }
}