<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/sidenav.css}">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">

</head>
<body>

	<div class="sidenav" th:fragment="sidenavbar">
		<a th:href="@{/}">Home</a>
		<a th:href="@{/aboutUs}">About us</a>
		<a th:href="@{/products}">Products</a>
		<a th:href="@{/contactUs}">Contact US</a>
		<a th:href="@{/booking}">Booking</a>
		<a th:href="@{/career}">Career</a>
		<a th:href="@{/investors}">Investors</a>
		<a th:href="@{/faq}">FAQ</a>
		<a th:href="@{/legal}">Legal</a>
		<a th:href="@{/pressRelease}">Press Release</a>
	</div>

	<div class="main" th:fragment="ContentExceptSidenavbar">
		
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

</body>

</html>